.page{
  width:780px;
  margin: auto;
  font-size:16px;
  font-family: 'sourse sans Pro',Calibri,Tahoma,sans-serif;
}

.infophoto{
  height: 250px;
}

.info{
  float: left;
}

.photo{
  float: right;
}

strong{
  font-size:26px;
}

.section{
  margin-bottom:70px;
  text-align: justify;
  height:content-box;
}

h2{
  font-size: 25px;
  color:#3388BB;
  text-transform: uppercase;
  border-bottom:3px solid #3388DD;
}

.sec-gauche{
  float: left;
  font-weight: bold;
  font-size:20px;
  vertical-align: top;
}

.duree{
  font-weight: normal;
  font-style: italic;
  font-size: 20px;
}

.titre{
  font-weight: bold;
  font-size: 18px;
}

#forma-gauche p{
  margin-bottom:37px;
  }

  .sec-droite{
    margin-left:150px;
    margin-top: 37px;
    vertical-align: top;
  }

.sec-centre{

}
